.env
/vendor/
composer.lock

/.env
/.env.*
/storage/*.key
/storage/logs/*
/storage/framework/cache/*
/storage/framework/sessions/*
/storage/framework/views/*

.idea/
.vscode/
*.sublime-project
*.sublime-workspace

.DS_Store
Thumbs.db
